<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="webConnection" connectionString="Data Source = SQL8001.site4now.net;
			 Initial Catalog=db_a8520e_university;
			 User Id = db_a8520e_university_admin;
			 Password=donAdmin451"/>

		<add name ="localConnection" connectionString="Data Source = localhost;
			 Initial Catalog=University;
			 User Id =sa;
			 Password=donAdmin451"/>
	</connectionStrings>
</configuration>